	
html, body { 
    margin: 0; 
    padding: 0; 
    height: 100%; 
    position: relative;
    overflow: auto;

    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#666666), to(#666666), color-stop(.6,#333));

    background-image: -moz-linear-gradient(25% 93% 334deg,#424242, #737373, #DEDEDE 100%);
    
}

#box
{
	margin-top:50px;
	
	margin-left:auto;
	margin-right:auto;
	width:630px;
	height: 500px;
	padding: 20px;
	background-color:#3B3B3B;

    	background-image: -webkit-gradient(
        	linear,
        	left bottom,
        	left top,
        	color-stop(0.06, rgb(0,0,0)),
        	color-stop(0.58, rgb(47,48,47))
    	);
    	background-image: -moz-linear-gradient(
        	center bottom,
        	rgb(0,0,0) 6%,
        	rgb(47,48,47) 58%
    	);
	
	box-shadow:4px 7px 10px #333333;
	border-radius:2em; 
	background-color: #030303; 
	color: #666666; 
        column-count:2; 
        column-gap:3em;
	text-align: center;
		
}

#squars
{
	border-radius:1em; background-color:#3B3B3B; padding:10px;
}

a {
	color: #fff;
}

#jdebug{
	 
}

/*
canvas {
	cursor:pointer;
}*/
