<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title> LI7E : <%= doc_name %> </title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="/static/css/bootstrap/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; 
      }
    </style>

    <link href="/static/css/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script type="text/javascript" src="/static/js/codemirror2/lib/codemirror.js"></script>
    <link rel="stylesheet" href="/static/css/codemirror.css">
    <link rel="stylesheet" href="/static/js/codemirror2/theme/ambiance.css">
<script type="text/javascript" src="/static/js/codemirror2/mode/xml/xml.js"></script>
<script type="text/javascript" src="/static/js/codemirror2/mode/css/css.js"></script>
<script type="text/javascript" src="/static/js/codemirror2/mode/javascript/javascript.js"></script>

    <script type="text/javascript" src="/static/js/codemirror2/mode/htmlmixed/htmlmixed.js"></script>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>    
    <script type="text/javascript" src="/static/slider/js/jquery.ui.slider.js"></script>
    <script src="/channel/bcsocket.js"></script>
    <script src="/share/share.js"></script>
    <script src="/share/cm.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/css/default.css" />
    <link rel="stylesheet" type="text/css" href="/static/slider/css/humanity/jquery-ui-slider.css" />

    <!-- the editor is a meemoo module too -->
<!--    <script type="text/javascript" src="http://meemoo.org/meemoo/v1/meemoo-min.js"></script> -->

  </head>

  <body>

    <div class="container">

          <div id="editor">
            <textarea id="code" name="code"></textarea>
          </div>
          <div id="slider"></div>

    </div>

    <script src="/static/js/li7e.js"></script>
  
    <script>
var doc = null, editor = null;
function setDoc(docName) {
  document.title = docName;

  sharejs.open(docName, function(error, newDoc) {
      if (doc !== null) {
          doc.close();
          doc.detach_cm();
      }

      doc = newDoc;

      if (error) {
          console.error(error);
          return;
      }
      doc.attach_cm(editor);
  });
};

      setDoc('<%= doc_name %>');
    </script>

  </body>
</html>
