<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title> LI7E : <%= doc_name %> </title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="/static/css/fonts.css" />

    <link href="/static/css/bootstrap/css/bootstrap.css" rel="stylesheet">

    <link href="/static/css/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script type="text/javascript" src="/static/js/codemirror2/lib/codemirror.js"></script>
    <link rel="stylesheet" href="/static/css/codemirror.css">
    <link rel="stylesheet" href="/static/js/codemirror2/theme/lesser-dark.css">
    <script type="text/javascript" src="/static/js/codemirror2/mode/xml/xml.js"></script>
    <script type="text/javascript" src="/static/js/codemirror2/mode/css/css.js"></script>
    <script type="text/javascript" src="/static/js/codemirror2/mode/javascript/javascript.js"></script>

    <script type="text/javascript" src="/static/js/codemirror2/mode/htmlmixed/htmlmixed.js"></script>


    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>    
<!--
    <script type="text/javascript" src="/static/slider/js/jquery.ui.slider.js"></script>
-->
    <script src="/channel/bcsocket.js"></script>
    <script src="/share/share.js"></script>
    <script src="/share/cm.js"></script>

    <script type="text/javascript" src="/static/js/bootstrap-dropdown.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/css/edit.css" />
<!--    <link rel="stylesheet" type="text/css" href="/static/slider/css/humanity/jquery-ui-slider.css" /> -->

  </head>

  <body>

    <div id="panel">
      <div id="li7e-button"></div>
      <div id="panel-header">
        <ul id="header-bar">
          <li>
            <span aria-hidden="true" class="icon-books button-header"></span>
          </li>
          <li>
            <span aria-hidden="true" class="icon-users button-header"></span>
          </li>
          <li>
            <span aria-hidden="true" class="icon-star button-header"></span>
          </li>
          <li>
            <span aria-hidden="true" class="icon-rocket button-header"></span>
          </li>
          <li>
            <span aria-hidden="true" class="icon-upload button-header"></span>
          </li>
          <li>               
            <span aria-hidden="true" class="icon-cog button-header"></span>
          </li>
        </ul>
      </div>
      <div id="panel-tabs"></div>
      <div id="panel-code">

            <textarea id="code" name="code"></textarea>

</div>
    </div>

    <div id="canvas">
      <iframe id="preview_iframe" frameborder="0"></iframe>
    </div>



    <script src="/static/js/li7e.js"></script>
  
    <script>
      function setDoc(docName) {
        sharejs.open(docName, 'text', function(error, doc) {
          doc.attach_codemirror(editor);
          doc.onChange = function () {
            var previewFrame = document.getElementById('preview_iframe');
            var preview =  previewFrame.contentDocument 
              ||  previewFrame.contentWindow.document;
            preview.open();
            preview.write(editor.getValue());
            preview.close();
          };
        });
      }

      setDoc('<%= doc_name %>');

$(document).ready(function(){
        var active = false;
        $("#li7e-button").click(function(){
//.animate({opacity: "0.1", left: "+=400"}, 1200)
                if (active === false) {
                  $("#panel").animate({left: "+=600"}, "slow");
                  $("#li7e-button").animate({marginRight: "+=35"}, "slow");
                  active = true;
                } else {
                  $("#panel").animate({left: "-=600"}, "slow");
                  $("#li7e-button").animate({marginRight: "-=35"}, "slow");
                  active = false;
                }
                $(this).toggleClass("active"); return false;
        });

         
});

    </script>

  </body>
</html>
