#chat,
#nickname,
#messages {
  width: 600px;
}
#chat {
  position: relative;
  border: 1px solid #ccc;
}
#nickname,
#connecting {
  position: absolute;
  height: 410px;
  z-index: 100;
  left: 0;
  top: 0;
  background: #fff;
  text-align: center;
  width: 600px;
  font: 15px Georgia;
  color: #666;
  display: block;
}
#messages {
  height: 380px;
  background: #eee;
}
button {
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  display: inline-block;
  text-decoration: none;
  background: #43a1f7;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #43a1f7), color-stop(1, #377ad0));
  background: -webkit-linear-gradient(top, #43a1f7 0%, #377ad0 100%);
  background: -moz-linear-gradient(top, #43a1f7 0%, #377ad0 100%);
  background: linear-gradient(top, #43a1f7 0%, #377ad0 100%);
  border: 1px solid #2e70c4;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  color: #fff;
  font-family: "lucida grande", sans-serif;
  font-size: 11px;
  font-weight: normal;
  line-height: 1;
  padding: 3px 10px 5px 10px;
  text-align: center;
  text-shadow: 0 -1px 1px #2d6dc0;
}
button:hover,
button.hover {
  background: darker;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #43a1f7), color-stop(1, #2e70c4));
  background: -webkit-linear-gradient(top, #43a1f7 0%, #2e70c4 100%);
  background: -moz-linear-gradient(top, #43a1f7 0%, #2e70c4 100%);
  background: linear-gradient(top, #43a1f7 0%, #2e70c4 100%);
  border: 1px solid #2e70c4;
  cursor: pointer;
  text-shadow: 0 -1px 1px #2c6bbb;
}
button:active,
button.active {
  background: #2e70c4;
  border: 1px solid #2e70c4;
  border-bottom: 1px solid #2861aa;
  text-shadow: 0 -1px 1px #2b67b5;
}

