#chat {
color:white;
}
#form{
	position: relative;
}
#divChat{   
	border: 3px solid #ccc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow:4px 7px 10px #333333;
	border-radius:1em; 
	background-color: #333333;
	padding: 10px;
	position: absolute;
	right: 10px;
	bottom:10px;
	min-height:20px;
	min-width: 230px;
}
