span.js-keyword {color: #729fcf;}
span.js-atom {color: #8ae234;}
span.js-variabledef {color: #00f;}
span.js-localvariable {color: #eeeeec;}
span.js-comment {color: #525252;}
span.js-string {color: #6a773c;}
